html,
body,
#root {
  min-height: 100%;
  width: 100%;
  scroll-behavior: auto;
}

@font-face {
  font-family: 'Telefon Black';
  src: url(../assets/font/TelefonBlack.woff) format('woff'),
    url(../assets/font/TelefonBlack.woff2) format('woff2');
}

body {
  position: relative;
  font-family: system, -apple-system, BlinkMacSystemFont, 'PingFang SC', Arial,
    'Microsoft YaHei', Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 2;
  color: #555;
  background: #efefef;
  margin: 0;
}

$primary_color: #26c9ff; // 蓝

$primary_color2: #dc143c; // 红
