.main-inner {
  width: 1110px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .main-inner {
    width: auto;
  }
}

.content-wrap {
  width: 772px;
  min-height: 720px;
  margin: 0 auto;
  float: left;
}

@media (max-width: 991px) {
  .content-wrap {
    width: 100%;
    padding: 0;
    min-height: 400px;
    border-radius: initial;
  }
}

/* page-navigator */
.page-navigator {
  display: block;
  margin: 20px 0;
  border-top: none;
  background: #fff;
  padding: 15px 0;
  border-radius: 5px;
  text-align: center;
}

.page-navigator li {
  list-style: none;
  display: inline-block;
  margin: 5px 0;
}

.page-navigator li a {
  box-sizing: border-box;
  margin: 0 10px;
  padding: 4px 12px;
  border: 1px solid #c9c7c7;
  border-radius: 3px;
}

.page-navigator li a:hover,
.loading-more-post:hover,
.page-navigator li.current a {
  background-color: #00a7e0;
  color: #fff;
  border-color: transparent;
}

/* page-navigator end */

/*.tool-bar {
  transition: transform 0.6s;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 48px;
  line-height: 48px;
  border-top: 1px solid #e0e0e0;
  background-color: #fff;
}
.tool-bar-inner {
  max-width: 990px;
  padding: 0px 10px;
  margin: 0 auto;
}
.site-action {
  float: right;
}
.site-action a {
  font-size: 14px;
  padding: 12px;
  cursor: pointer;
  color: #313131;
  border: 0;
} */
#footer {
  background: #fff;
  padding: 20px 0px;
  text-align: center;
  margin-top: 20px;
}

#footer p {
  margin: 5px 0;
}

#footer a {
  color: #000;
  border: none;
}

.tag-link,
.tags a {
  border-radius: 15px;
  padding: 6px 10px;
  border: none;
  border: #e0e2e2 1px solid;
}

.tag-link:hover {
  border-color: #999;
}

.tags a {
  display: inline-block;
  line-height: 1;
}

.tags a:nth-of-type(odd) {
  color: #fff;
  background-color: #f77892;
  margin: 5px;
}

.tags a:nth-of-type(odd):hover {
  background-color: #ed143db0;
}

.tags a:nth-of-type(even) {
  color: #fff;
  background-color: #4cb5f5;
  margin: 5px;
}

.tags a:nth-of-type(even):hover {
  background-color: #00a7e0;
}

.tags a::before {
  content: '# ';
}

.timeline-archives {
  animation: fade-in-top 0.2s 0.3s backwards;
}

canvas#ribbons {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

canvas#live2d {
  left: 0;
  bottom: 0;
  z-index: 999;
  position: fixed;
  pointer-events: none;
}

@media (max-width: 991px) {
  canvas#live2d {
    width: 70px;
    height: 125px;
  }
}

.img-view,
.img-view > img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(26, 26, 26, 0.65);
  margin: auto;
  z-index: 999;
}

.img-view {
  display: none;
  position: fixed;
  overflow: auto;
}

.img-view > img {
  animation: feda-large 0.3s;
  cursor: zoom-out;
  position: absolute;
  max-height: 90%;
  max-width: 90%;
}

.img-view.remove {
  animation: fade-out 0.3s both;
}

.img-view.remove > img {
  animation: fade-none 0.3s both;
}

img[alt='sticker'] {
  width: 40px;
  height: 40px;
  display: inline-block;
}

#back-actions {
  position: fixed;
  right: 1rem;
  bottom: calc(1rem + env(safe-area-inset-bottom));
  line-height: 1;
}

@media (min-width: 991px) {
  #back-actions {
    display: none;
  }
}

#back-actions .back {
  width: 2.25em;
  height: 2.25em;
  color: #00a7e0;
  margin-top: 0.5em;
  background: #fff;
  border-radius: 66%;
  transition: transform 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #7878781a, 0 5px 20px #78787833;
}
