@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'),
    url(https://gstatic.loli.net/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6vppkDi.woff2)
      format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'),
    url(https://gstatic.loli.net/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6rppkDi.woff2)
      format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'),
    url(https://gstatic.loli.net/s/sigmarone/v10/co3DmWZ8kjZuErj9Ta3do6Tppg.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.site-title {
  color: #fff;
  font-family: 'Sigmar One', 'Telefon Black', Sans-Serif;
  text-shadow: 1px 1px 0 #ff3f1a, -1px -1px 0 #00a7e0;
}

.brand {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  background: #222;
  border-bottom: none;
  padding: 0;
  background: 0 0;
  position: relative;
  top: 180px;
  font-size: 68px;
  text-align: center;
  text-shadow: 0 1px 1px #47456d;
  margin-bottom: 130px;
  z-index: 1;
  font-family: 'Sigmar One';
  display: block;
}

/** animate*/
.site-title .guide {
  visibility: hidden;
  pointer-events: none;
}

.site-title .animate span {
  position: absolute;
  opacity: 0;
}

.site-title .animate {
  transition: 0.3s;
}

.site-title .animate:hover {
  opacity: 0.5;
}
/* animate end*/
